.list-principal {
    margin-bottom: 30px;
}

.list-principal h2 {
    margin: 0 0 0 30px; 
}

.list-area {
    overflow-x: hidden; /* pra cortar a lista que passar da tela*/
    padding-left: 30px;
}

.list-row{
    transition: all ease 0.5s;
}

.list-item {
    display: inline-block; /*pra uma imagem ficar do lado da outra*/
    width: 150px;
}

.list-item img {
    width: 100%;
    transform: scale(0.9); /* pra diminuir 10% da area da tela*/
    transition: all ease 0.3s;
    cursor: pointer;
}

.list-item img:hover{
    transform: scale(1); /*efeito da imagem aumentar*/
}

.list-icon-left, .list-icon-right {
    position: absolute;
    font-size: 10px;
    width: 30px;
    height: 205px;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    opacity: 0;
    margin-top: 10px;
    transition: all ease 0.5s;
}

.list-icon-left {
    left: 0;
}

.list-icon-right{
    right: 0;
}

.list-principal:hover .list-icon-left, .list-principal:hover .list-icon-right{
    opacity: 1;
}

@media(max-width: 760px){
    .list-icon-left, .list-icon-right{
        opacity: 1;
    }    
}